@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(179, 154, 207);
  background: linear-gradient(to right, rgb(207, 240, 228), rgb(179, 154, 207));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.signupContainer {
  background-color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 500px;
  width: 480px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #514e4e;
}
.signupContainer input {
  padding: 14px;
  margin: 14px;
  outline: none;
}
.signupContainer input:invalid {
  outline: red;
}
.name-input {
  display: flex;

  justify-content: space-between;
}
.signupORlogin {
  display: flex;
  justify-content: space-between;
  margin: 35px;
}
.signupORlogin a {
  font-size: 12px;
  text-decoration: none;
  padding: 0%;
}
.signupButton {
  padding: 10px;
  width: 200px;
  background-color: rgb(137, 62, 217);
  color: white;
  border: 1px solid;
  text-transform: uppercase;
}
.signupButton:hover {
  transform: scale(1.03);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.toggleAuth {
  border: none;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
  color: purple;
}
